//*fade up
.v-enter-active,
.v-leave-active {
	transition: all 0.3s ease;
}

.v-enter-from,
.v-leave-to {
	opacity: 0;
	transform: translateY(2rem);
	transition: all 0.3s ease;
}

//*fade left
.fade-left-enter-active,
.fade-left-leave-active {
	transition: all 0.2s ease;
}

.fade-left-enter-from,
.fade-left-leave-to {
	opacity: 0;
	transform: translateX(-2rem);
	transition: all 0.2s ease;
}

//*fade
.fade-enter-active,
.fade-leave-active {
	transition: all 0.3s ease;
}

.fade-enter-from,
.fade-leave-to {
	opacity: 0;
	transition: all 0.3s ease;
}
