//*появление/скрытие "скольжение вверх"
.v-enter-active,
.v-leave-active {
	transition: all 0.3s ease;
}

.v-enter-from,
.v-leave-to {
	opacity: 0;
	transform: translateY(2rem);
	transition: all 0.3s ease;
}
