//* colors
$primary: #5960c7;
$primary-20: #d3d9f4;
$primary-15: #e6e7f7;

$secondary: #197eca;
$secondary-10: #e8f2fa;

$light-blue: #f1f7ff;

$red: #db5454;

$black: #323232;
$dark: #383838;
$gray: #4b5768;
$black-70: #6f6f6f;
$black-50: #989898;
$light-gray: #dcdcdc;
$white: #fff;

//* scrollbar
$scrollbarBg: rgb(235, 235, 235);
$scrollbarThumb: $primary;
$scrollbarWidth: 1rem;
$scrollbarBorder: 0.2rem solid $scrollbarBg;
$scrollbarBorderRadius: calc(($scrollbarWidth) / 2);

$shadow: 0 0.4rem 1.2rem rgba(0, 0, 0, 0.08);
